@{
    ViewData["Title"] = "Üye Sayfası";
}
@model List<UserModel>
<h2>Üye Sayfası</h2>
<hr />
<div class="row">
    <div class="col-md-4">
    </div>
        <table class="table">
        @foreach (var item in Model)
        {
            

        <tr>
                <td><b>Adı Soyadı</b></td>
                <td>@item.FullName</td>
            </tr>
            <tr>
                <td><b>Kullanıcı Adı</b></td>
                <td>@item.UserName</td>
            </tr>
            <tr>
                <td><b>E-Posta</b></td>
                <td>@item.Email</td>
            </tr>
            <tr>
                <td><b>Şehir</b></td>
                <td>@item.City</td>
            </tr>
        }
        </table>
    </div>
</div>
